.header {
  height: 56px;
  background-color: #000000;
  background-image: url("/icon/header pattern image.png");
  padding: 0 30px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3FD28B;
}
.header .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .left .logo-img {
  height: 35.99px;
  width: 134.02px;
}
.header .middle .navbar {
  display: flex;
  font-size: 14px;
  list-style: none;
  padding-top: 5px;
  width: 550px;
  align-items: center;
  justify-content: end;
}
.header .middle .navbar li {
  padding-left: 32px;
}
.header .middle .navbar li a {
  color: #3FD28B;
}
.header .middle .navbar .active {
  color: #FFFFFF;
}
.header .last ul {
  display: flex;
  list-style: none;
  padding: 0px;
}
.header .last ul li {
  padding-left: 32px;
}
.header .last ul .badge-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header .last ul .badge3, .header .last ul .badge1, .header .last ul .badge2 {
  position: absolute;
  width: 17px;
  height: 18px;
  font-size: 12px;
  background-color: #2A7FF3;
  color: #FFFFFF;
  border-radius: 10px;
  padding-top: 1.5px;
}
.header .last ul .badge1 {
  right: -7px;
  top: -7px;
}
.header .last ul .badge2 {
  right: -12px;
  top: -7px;
}
.header .last ul .badge3 {
  right: -8px;
  top: -7px;
  font-size: 8px;
  background-color: #FFFFFF;
  color: #222222;
  padding-top: 4px;
}
.header .last ul #i1 {
  width: 32px;
  height: 32px;
  border-radius: 20px;
}
.header .last ul #hamburger-list {
  cursor: pointer;
}
.header .last ul #hamburger-list img {
  width: 32px;
  height: 32px;
}
.header .last ul #hamburger-list #verticle-navbar {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 0.2s;
}
.header .last ul #hamburger-list .verticle-nav {
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  position: absolute;
  transform: translateY(-3em);
  transition: all 0.3s ease 0s, visibility 0s linear 0.05s, z-index 0.3s linear 0.01s;
  width: 280px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  background-color: #FFFFFF;
  top: 59px;
  right: 16px;
  border-radius: 2px;
}
.header .last ul #hamburger-list .verticle-nav ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;
}
.header .last ul #hamburger-list .verticle-nav ul li {
  margin: 0;
  display: block;
  padding: 15px 24px 15px 16px;
}
.header .last ul #hamburger-list .verticle-nav ul li div a {
  font-size: 14px;
  color: #3FD28B;
  text-decoration: none;
}
.header .last ul #hamburger-list .verticle-nav ul li ul {
  display: none;
}
.header .last ul #hamburger-list .verticle-nav ul .selected {
  background-color: #F3F3F3;
  padding-bottom: 0;
}
.header .last ul #hamburger-list .verticle-nav ul .selected div {
  padding-bottom: 15px;
}
.header .last ul #hamburger-list .verticle-nav ul .selected div div {
  transform: rotate(180deg);
}
.header .last ul #hamburger-list .verticle-nav ul .selected ul {
  padding: 0;
  margin: 0;
  display: block;
}
.header .last ul #hamburger-list .verticle-nav ul .selected ul li {
  margin: 0;
  display: block;
  height: 50px;
  padding: 15px 24px 15px 16px;
}
.header .last ul #hamburger-list .verticle-nav ul .selected ul li a {
  font-size: 14px;
  color: #3FD28B;
  text-decoration: none;
}
.header .last ul #hamburger-list .verticle-nav ul .hamburger-item div {
  display: flex;
  justify-content: space-between;
}
.header .last ul #hamburger-list .verticle-nav ul .hamburger-item div div {
  padding: 0;
  width: 12px;
  height: 12px;
  background-image: url("/icon/arrow-down.svg");
  background-size: 12px;
  background-position: top right;
  background-repeat: no-repeat;
  filter: invert(42%) sepia(8%) saturate(2891%) hue-rotate(103deg) brightness(91%) contrast(100%);
}

@media screen and (max-width: 901px) {
  .middle {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  #hamburger-list {
    display: none;
  }
}
.right {
  display: flex;
}

.announcementArea {
  position: absolute;
  width: 315px;
  height: -moz-max-content;
  height: max-content;
  max-height: 582px;
  right: 136px;
  color: #000000;
  font-size: 14px;
  background-color: #222222;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.168627451);
  z-index: 1;
  transform: scaleY(0);
}

.announcements {
  max-height: 534px;
  overflow-y: scroll;
}

.announcement {
  padding: 16px;
}

.announcementCreater {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  font-size: 12px;
}

.announcementCreater span {
  color: #686868;
}

.announcementText {
  padding-bottom: 8px;
}

.announcementInfo {
  font-size: 12px;
  color: #686868;
}

.dateTime {
  text-align: right;
}

.announcementBtns {
  height: 48px;
  display: flex;
  align-items: center;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.168627451);
  border-radius: 0px 0px 2px 2px;
  opacity: 1;
}

.right-border {
  border-right: 1px solid #000000;
}

.announcementBtn {
  width: 50%;
  text-align: center;
  color: #1F7A54;
  padding: 6px;
}

.unread {
  background-color: #FFFFEE;
}

@media screen and (min-width: 861px) {
  .announcementArea {
    right: 71px;
  }
}
.notificationArea {
  position: absolute;
  width: 315px;
  max-height: 582px;
  height: -moz-max-content;
  height: max-content;
  background-color: white;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.168627451);
  right: 188px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
  transform: scaleY(0);
}

.notifications {
  max-height: 534px;
  overflow-y: scroll;
}

.unread {
  background-color: #FFFFEE;
}

.notification {
  padding: 16px;
}

.notificationContent {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}

.notificationContent p {
  width: 260px;
}

.notificationContent i {
  width: 15px;
  float: right;
  color: #1F7A54;
}

.notificationInfo {
  font-size: 12px;
  color: #222222;
  padding-bottom: 8px;
}

.notificationInfo span {
  color: #686868;
}

.dateTime {
  text-align: right;
  font-size: 12px;
  color: #686868;
}

.notificationBtn {
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: white 0% 0% no-repeat padding-box;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.168627451);
  border-radius: 0px 0px 2px 2px;
  opacity: 1;
}

@media screen and (min-width: 861px) {
  .notificationArea {
    right: 125px;
  }
}/*# sourceMappingURL=Header.css.map */